{% extends "oscar/dashboard/layout.html" %}
{% load currency_filters %}
{%  load i18n %}
{% load static%}

{% block navbar %}
    <nav class="navbar navbar-static-top navbar-inverse navbar-accounts">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".nav-accounts">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand" style="text-indent: -9999px;
                display: block;
                width: 60px;
                height: 38px;
                padding: 0;
                margin-left: 0;
                margin-top: 5px;"><img src="{% static 'image/shop_icon.jpeg' %}" width="60px" height="38px"></span>
            </div>
            <div class="collapse navbar-collapse nav-accounts">
                <ul class="nav navbar-nav navbar-right">
                    <li><span>{% trans "Welcome" %} <em>{{ user.get_full_name|default:request.user.email }}</em></span></li>
                    <li><a href="{{ homepage_url }}"><i class="icon-home"></i> {% trans "Return to site" %}</a></li>
                    <li><a href="{% url 'customer:summary' %}"><i class="icon-user"></i> {% trans "Account" %}</a></li>
                    <li><a href="{% url 'dashboard:logout' %}"><i class="icon-signout"></i> {% trans "Log out" %}</a></li>
                </ul>
            </div>
        </div><!-- /navbar-inner -->
    </nav><!-- /navbar -->
    {% endblock navbar %}